html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    box-sizing: border-box;
    font-size: 120%;
    background-color: darkgray;
    height: 100%;
    padding: 20px 10px;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover {
    outline:0px !important;
    -webkit-appearance:none;
}

#wrapper {
    max-width: 600px;
    text-align: left;
    margin: 0px auto;
    background-color: whitesmoke;
    border-top: 50px solid black;
    border-right: 20px solid black;
    border-bottom: 50px solid black;
    border-left: 20px solid black;
    border-radius: 20px;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

#chat-area{
    height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    box-sizing: border-box;
}

#compose-area {
    height: 15%;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    display:none;
}

textarea {
    position:absolute;
    padding:20px 20px;
    background:#18a195;
    border:0;
    margin:0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-size: 120%;
    padding: .5em 10% .5em 2%;
}

#sendButton {
    position: absolute;
    bottom: 5px;
    right: 5px;

}

button {
    position: relative;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    margin: 1px;
    font-size: 120%;
    background-color: lightgrey;
    border-radius: 8px;
}

#startButton {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    max-width: 200px;
    max-heightheight: 200px;
    cursor: pointer;
    background-color: #18a195;
}

#robot {
    margin: 0 auto;
    width: 200px;
}

#cursor {
    position: relative;
    top: 4px;
    left: 2px;
}

.chat-container {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.chat-wrapper {
    position: relative;
    height: 100%;

}

.avatar {
    position: absolute;
    top: 0px;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-color: darkgray;
    border: 2px solid darkgray;
    border-radius: 2px;

}

.avatar-ChatBot {
    left: -15px;
    background-image: url("https://www.tracksfortrucks.com/static/images/Logo_dark.svg");
}

.avatar-Customer {
    right: -15px;
    background-image: url("https://www.tracksfortrucks.com/static/images/1_Header.svg");
}

.chat-ChatBot {
    background-color: #DCDCDC;
    padding: 7px 15px;
    float: left;
    width: 60%;
    margin: 0px 36% 15px 4%;
    border-radius: 10px 10px 10px 10px;
    box-sizing: border-box;
    min-height: 2em;
}

.chat-Customer {
    background-color: #18a195;
    padding: 7px 15px;
    text-align: right;
    border-radius: 10px 10px 10px 10px;
    float: left;
    width: 60%;
    margin: 0px 4% 15px 36%;
    box-sizing: border-box;
    min-height: 2em;
}